<div class="telegram alert  alert-dismissible fixed-top" style="background-color: #4F44EB6E;">
    <div class="center mt-3">
      <style>
        .center {
margin: auto;
width: 80%;
border: 2px solid #7971ea;
padding: 2px;
color:white
}

      </style>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="color:#7971ea;font-size:50px">×</button>
      <div class="fl-1">
        <style>
         



          .fl-1 {
            display: flex;
            align-items: center;
            justify-content:center;
          }
        </style>
      <h5 ><i class=" fa fa-bullhorn mr-lg-1"></i>GOOD NEWS!</h5>
    </div>

      <div class="fl">
        <style>
           @media screen and (max-width: 568px) {
            .fl{
              flex-direction: column;
              font-size:20px;
             
            }
            .fl-1{
              width:60%;
              margin:auto

            }
           }
           .fl{
            width:60%;
            margin:auto;
            align-items: center;
            display:flex;
            justify-content:space-around
          }
          .channel{
            /* width: 100%; */
            color:white;
            border:1px solid#7971ea;
            background-color:#7971ea;
            padding: 3px;
            border-radius: 10px;
          }
          .channel:hover{
            color:white;
          }
         
          </style>
     
       <p align="center"> JOIN US ON TELEGRAM AND NEVER MISS AN UPDATE</p> <a class="channel" href="https://t.me/yutamartv1">JOIN CHANNEL</a>
      </div>
    </div>
   
  
  </div>
 
  </script>